<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
    </ion-buttons>

    <ion-title>Detail Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-button expand="block" routerLink="/edit-produk/{{detailProduct.id}}">
      Edit Produk
    </ion-button>
  </ion-item>

  <ion-list *ngIf="detailProduct">
    <ion-item>
      <ion-img class="product-image" [src]="getProductImage()"> </ion-img>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>{{ detailProduct.name }}</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Kategori: {{ detailProduct.category }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Stok: {{ detailProduct.stock }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Harga Beli: Rp {{ detailProduct.purchasePrice }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Harga Jual: Rp {{ detailProduct.sellingPrice }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-input
        type="text"
        label="Jumlah"
        placeholder="Masukkan jumlah produk"
        [(ngModel)]="quantityPurchased"
      >
      </ion-input>
    </ion-item>

    <ion-item *ngIf="error != ''">
      <ion-label> {{ error }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-button
        expand="block"
        [disabled]="detailProduct.stock == 0"
        (click)="addToCart()"
      >
        <ion-icon id="cartAnimation" name="cart" slot="start"> </ion-icon>
        Tambah ke Keranjang
      </ion-button>
    </ion-item>

    <ion-item *ngIf="message != ''">
      <ion-label> {{ message }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" routerLink="/keranjang">
    Lihat Keranjang
  </ion-button>
</ion-content>
