<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>

    <ion-title> Profil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon name="storefront" slot="start"> </ion-icon>

      <ion-label>
        <p>Nama Toko</p>
        <h1>{{ storeName }}</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="person" slot="start"> </ion-icon>

      <ion-label>
        <p>Pemilik</p>
        <h2>{{ ownerName }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="business" slot="start"> </ion-icon>

      <ion-label>
        <p>Jenis Usaha</p>
        <h2>{{ businessType }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="phone-portrait" slot="start"> </ion-icon>

      <ion-label>
        <p>Aplikasi</p>
        <h2>{{ applicationName }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="cloud-offline" slot="start"> </ion-icon>

      <ion-label>
        <p>Status</p>
        <h2>{{ applicationStatus }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>