<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-label>
        <h2>{{ product.name }}</h2>

        <p>Kategori: {{ product.category }}</p>

        <p>Harga Jual: Rp {{ product.sellingPrice }}</p>

        <p>Stok: {{ product.stock }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
