<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/produk"> </ion-back-button>
    </ion-buttons>

    <ion-title> Edit Produk </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
      type="text"
      label="Nama Produk"
      labelPlacement="stacked"
      [(ngModel)]="edit_name"
      (keyup)="checkName()"
    >
    </ion-input>
  </ion-item>

  <ion-text *ngIf="error_name != ''"> {{ error_name }} </ion-text>

  <ion-item>
    <ion-select
      label="Kategori"
      labelPlacement="stacked"
      [(ngModel)]="edit_category"
    >
      <ion-select-option value="Sembako"> Sembako </ion-select-option>
      <ion-select-option value="Makanan"> Makanan </ion-select-option>
      <ion-select-option value="Minuman"> Minuman </ion-select-option>
      <ion-select-option value="Kebutuhan Rumah">
        Kebutuhan Rumah
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-text *ngIf="error_category != ''"> {{ error_category }} </ion-text>

  <ion-item>
    <ion-input
      type="text"
      label="Harga Beli"
      labelPlacement="stacked"
      [(ngModel)]="edit_purchasePrice"
      (keyup)="checkPurchasePrice()"
    >
    </ion-input>
  </ion-item>

  <ion-text *ngIf="error_purchasePrice != ''">
    {{ error_purchasePrice }}
  </ion-text>

  <ion-item>
    <ion-input
      type="text"
      label="Harga Jual"
      labelPlacement="stacked"
      [(ngModel)]="edit_sellingPrice"
      (keyup)="checkSellingPrice()"
    >
    </ion-input>
  </ion-item>

  <ion-text *ngIf="error_sellingPrice != ''">
    {{ error_sellingPrice }}
  </ion-text>

  <ion-item>
    <ion-input
      type="text"
      label="Stok"
      labelPlacement="stacked"
      [(ngModel)]="edit_stock"
      (keyup)="checkStock()"
    >
    </ion-input>
  </ion-item>

  <ion-text *ngIf="error_stock != ''"> {{ error_stock }} </ion-text>

  <ion-item>
    <ion-input
      type="text"
      label="Gambar Produk"
      labelPlacement="stacked"
      placeholder="Masukkan URL/path gambar (opsional)"
      [(ngModel)]="edit_image"
    >
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="submitEdit()">
    Simpan Perubahan
  </ion-button>
</ion-content>
